*~
*.aux
*.blg
*.brf
*.log
*.swn
*.dvi
*.~*#
*.synctex.gz
*.odg#
*.bbl
*.toc
*.idx
*.lof
*.lot
*.loa
*.out
a.pdf
old/
bak
allbibs
allbibs2
iccv2015AuthorKit.tar.gz
iccv2015AuthorKit/
refs
refs.zip
reviews/
supplementary-material/*.mp4
supplementary-material/*.ply
curve-perception
cvpr2016AuthorKit.tar.gz
cvpr2016AuthorKit/
upload-versions/
supplementary.pdf
3dv-2016authorkit
area_chairs
latexSuiteTemp*
sibigrapi-template/
.DS_Store
paper.out
*.MOV
*.3gp
*.nav
*.snm
slides-exemplo-beamer.pdf
dissertacao.pdf
*.webm
dissertacao.pdf
